body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img {
    width: 360px;
    height: 270px;
    margin-top: 5%;
}

.container {
    display: flex;
    justify-content: center;
}

.content {
    width: 400px;
    height: 100px;
    text-align: center;
}

.block {
    text-align: left;
}

input {
    background-color: #8b8b8b;
    color: white;
    border: 2px solid #c5c2c2;
    border-radius: 5px;
    width: 375px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input:hover{
    border-color: #2fb23c;
    background-color: rgb(155, 155, 155);
}

button {
    background-color: #2fb23c;
    border: 1px solid black;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin-top: 75px;
    font-size: 16px;
}

button:hover{
    background-color: #10d423;
    border: 1px solid white;
}